@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

::-webkit-scrollbar {
 display: none;
}

.img {
 filter: drop-shadow(0px 0px 15px #000000);
}

.parrafo {
 z-index: 1;
 width: 100%;
 padding: 20px 20px;
 font-size: 15px;
 line-height: 1.5;
 background: #ffffff17;
 border-radius: 5px;
 text-align: justify;
}

.parrafo img {
 width: 300px;
 border-radius: 5px;
 float: right;
 margin-left: 15px;
}

/* .social-icons {
 align-items: center;
 text-align: center;
} */

.social-icon-item {
 /* filter: drop-shadow(2px 2px 5px #000000); */
 /* color: rgba(13, 110, 253, 1); */
 font-size: 50px;
}

/* icon social media styles */
/* * {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
} */

/* body {
 background-color: black;
} */

.center {
 display: flex;
 justify-content: center;
 align-items: center;
}

.main {
 width: 100%;
 height: 100%;
}

.icon {
 width: 65px;
 height: 65px;
 margin: 20px;
 cursor: pointer;
 border-radius: 50px;
 transition: all .8s;
}

.icon:nth-child(1):hover {
 box-shadow: 0px 0px 0px 10px #1877f2;
}

.icon:nth-child(2):hover {
 box-shadow: 0px 0px 0px 10px #c32aa3;
}

.icon:nth-child(3):hover {
 box-shadow: 0px 0px 0px 10px #25d366;
}

.icon:nth-child(4):hover {
 box-shadow: 0px 0px 0px 10px #1da1f2;
}

.icon:nth-child(5):hover {
 box-shadow: 0px 0px 0px 10px #232324;
}

.bi-facebook {
 color: #1877f2;
 filter: drop-shadow(0px 0px 10px #1877f2);
}

.bi-instagram {
 color: #c32aa3;
 filter: drop-shadow(0px 0px 10px #c32aa3);
}

.bi-whatsapp {
 color: #25d366;
 filter: drop-shadow(0px 0px 10px #25d366);
}

.bi-twitter {
 color: #1da1f2;
 filter: drop-shadow(0px 0px 10px #1da1f2);
}

.bi-github {
 color: #232324;
 filter: drop-shadow(0px 0px 10px #232324);
}