@import url("colors.css");
@import url("icons.css");
@import url("navbar.css");
@import url("bootstrap.css");

.img {
filter: drop-shadow(0px 0px 15px var(--drop-shadow));
}

.parrafo {
 z-index: 1;
 width: 100%;
 padding: 20px 20px;
 font-size: 15px;
 line-height: 1.5;
 background: var(--bg-white-10);
 border-radius: 5px;
 text-align: justify;
}

.parrafo img {
 width: 300px;
 border-radius: 5px;
 float: right;
 margin-left: 15px;
}

.social-icon-item {
 font-size: 50px;
}

/* icon social media styles */

.center {
 display: flex;
 justify-content: center;
 align-items: center;
}

.main {
 width: 100%;
 height: 100%;
}

.icon {
 width: 50px;
  height: 50px;
  margin: 10px;
 cursor: pointer;
 border-radius: 50px;
 transition: all 0.8s;
}

.bi-facebook {
 color: var(--blue-facebook);
 filter: drop-shadow(0px 0px 10px var(--blue-facebook));
}
.icon:nth-child(1):hover {
box-shadow: 0px 0px 0px 10px var(--blue-facebook);
}

.bi-instagram {
 color: var(--purple-instagram);
 filter: drop-shadow(0px 0px 10px var(--purple-instagram));
}

.icon:nth-child(2):hover {
 box-shadow: 0px 0px 0px 10px var(--purple-instagram);
}

.bi-whatsapp {
 color: var(--green-whatsapp);
 filter: drop-shadow(0px 0px 10px var(--green-whatsapp));
}

.icon:nth-child(3):hover {
 box-shadow: 0px 0px 0px 10px var(--green-whatsapp);
}

.bi-twitter {
 color: var(--blue-twitter);
 filter: drop-shadow(0px 0px 10px var(--blue-twitter));
}

.icon:nth-child(4):hover {
 box-shadow: 0px 0px 0px 10px var(--blue-twitter);
}

.bi-github {
 color: var(--black-github);
 filter: drop-shadow(0px 0px 10px var(--black-github));
}

.icon:nth-child(5):hover {
 box-shadow: 0px 0px 0px 10px var(--black-github);
}