@import url("colors.css");
@import url("icons.css");
@import url("navbar.css");
@import url("bootstrap.css");
.subheading {
 color: var(--blue-navbar);
 font-size: 2rem;
 text-decoration: underline;
}